#acContent {
	width: 90%;
	max-width: 700px;
	margin: auto;
	display: block;
	padding: 0 16px;
	overflow: visible;
}

#acContent > .cardDiv {
	float: left;
	height: auto;
	width: 100%;
	overflow: auto;
}

#acContent > .cardDiv .materialInput {
	position: relative;
	float: left;
	margin-left: 0;
	margin-right: 0;
}
#acContent > .cardDiv #ccName {
	width: calc(30% - 8px);
	margin-right: 16px;

}
#acContent > .cardDiv #ccLongName {
	width: calc(70% - 8px);

}
#acContent > .cardDiv #ccSchool {
	width: 100%;
}

.acButton {
	cursor: pointer;
	float: right;
	text-align: center;
	color: white;
	border-radius: 3px;
	padding: 8px 12px;
	clear: both;
	text-transform: uppercase;
	margin-top: 8px;
	color: #9E9E9E;
	transition: 0.2s;
}

.acButton:hover {
  background-color: #DDDDDD;
}
.acButton:active {
  background-color: #CCCCCC;
}

#ccDivider {
	width: 100%;
	height: 0;
	border-bottom: #9E9E9E solid 1px;
	margin: 4px 0;
	float: left;
}
#acContent > .cardDiv #ccInviteToken {
	width: 100%;
}
