.teRow {
	width: calc(50% - 16px);
	margin: 0 8px;
	float: right;
}


#teContent {
	overflow: visible;
	width: calc(100% - 15px);
    max-width: 1300px;
	margin: auto;
}

#teButtonsConatiner{
	width: 100%;
	float: left;
	overflow: visible;;
}
.teButton {
	margin: 8px 0;
	min-width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	transition: 0.2s;
}
#teSave {
	float: right;
	color: white;
	background-color: #8BC34A;
}
#teSave:hover {
	background-color: #7CB342;
}
#teSave:active {
	background-color: #689F38;
}
#teRemove {
	float: left;
	color: #8BC34A;
	background-color: #FAFAFA;
}
#teRemove:hover {
	background-color: #F5F5F5;
	color: #8BC34A;
}
#teRemove:active {
	background-color: #EEEEEE;
}


/**************Insert class*************/

.teInsertClassDiv {
	padding: 2px calc(50% - 12px);
	overflow: visible;
	/*Overflow and width is set for plus symbol to be centered - horizontal lines are overflowed*/
	width: 24px;
	height: 8px;
	float: left;
	position: relative;
	z-index: 1;
	transition: all 0.2s ease-in-out 0s;
	cursor: pointer;
}

.teInsertClassDiv:hover {
	height: 16px;
	padding: 2px calc(50% - 12px);
	padding-top: 8px;
	transition: all 0.2s ease-in-out 0.1s;
}

.teInsertClassDiv > i {
	color: black;
	opacity: 0.0;
	margin: 0;
	font-size: 16px;
	padding: 0 4px;
	position: absolute;
	top: 3px;
	transition: all 0.2s linear 0s;
}

.teInsertClassDiv:hover > i {
	color: #EF5350;
	opacity: 1;
	top: 1px;
	font-size: 24px;
	padding: 0px;
	transition: all 0.2s linear 0.1s;
}

/********************************/

.teSubjectOptions {
	width: 100%;
	background-color: white;
	border-radius: 4px;
	padding-top: 8px;
	float: left;
}

.teSubjectImage {
	float: left;
	border-radius: 180px;
	background-color: #8BC34A;
	margin-bottom: 0;
	margin-right: 8px;
	height: 60px;
	width: 60px;
	text-align: center;
	color: white;
	line-height: 60px;
	font-size: 28px;
}

.teSubjectImage > i {
	line-height: inherit;
	font-size: inherit;
}

#teColorPicker {
	float: left;
	position: relative;
	margin-top: 28px;
	width: calc((100% - 60px - 16px - 8px) / 2 - 8px);

}

#teColorPicker > .cpPreviewColor {
	background-color: #8bc34a;
}

#teSubjectNumber {
	width: calc((100% - 84px) / 3);
	position: relative;
	float: left;
	margin: 6.5px 8px !important;
}

#teSubjectNumber > .label.active {
	top: -7px;
}

#teSubjectDay {
	width: calc((100% - 84px) / 3);
	position: relative;
	float: left;
	margin: 16px 0 !important;
}

#teSubjectAcronym {
	width: calc((100% - 84px) / 3);
	position: relative;
	float: left;
	margin: 6.5px 0 !important;
}

#teSubjectName {
	width: calc(100% - 68px);
	position: relative;
	float: left;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 20.5px !important;
}

#teStartTime {
	margin-top: 29px;
}
#teEndTime {
	margin-top: 29px;
	clear: left;
}

.teSubjectOptions > .materialTimePicker {
	float: left;
	margin-left: 8px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.teButtons {
	float: left;
	width: 100%;
}
#teSubjectOptions > .materialTimePicker {
	float: left;
	margin-right: 8px;
}

.tebutton {
	float: right;
	padding: 5px 8px;
	margin: 8px 8px;
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
}

#tePriorities {
	width: 100%;
	overflow: auto;
	float: left;
	overflow: visible;
	background-color: white;
	border-radius: 2px;
}

#tePriorities > div:first-child {
	font-weight: 700;
	color: #9E9E9E;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: none;
}
#tePriorities > div:last-child {
	font-weight: 700;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #9E9E9E;

}
#tePriorities > div {
	padding: 8px;
	width: calc(100% - 16px);
	background-color: white;
}

#teSelection {
	float: left;
	width: calc(100% - 16px);
}
#teSelection > .materialDropDown{
	float: left;
	clear: left;
	text-align: left;
	margin: 8px;
	position: relative;
	width: calc(100% - 16px);
}

#teSubjectOptions {
	float: left;
}
#teTeacherOptions,
#teLocationOptions {
	float: left;
	position: relative;
}

#teIconPicker {
	height: 28px;
	/**/
	width: calc((100% - 16px - 60px) / 2 - 8px);
	float: left;
	margin-top: 28px;
	margin-left: 8px;
}

#teTeacherImage {
	width: 60px;
	height: 60px;
	background-color: #E7E7E7;
	float: left;
	position: relative;
}
#teTeacherImage > i {
    font-size: 40px;
    color: #8bc34a;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		margin: 10px;
    margin-top: 5px;
}
#teTeacherImageUploadButton {
    position: absolute;
    bottom: 0;
    height: 15px;
    width: 100%;
    background-color: #616161;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
#teTeacherImageUploadButton > i {
	font-size: 12px;
	position: relative;
	top: -2.5px;
}
#teTeacherName {
	float: left;
	margin: 6.5px 0 !important;
	margin-left: 8px !important;
	width: calc((100% - 76px) / 2);
	position: relative;
}
#teTeacherSurname {
	float: left;
	margin: 6.5px 0 !important;
	margin-left: 8px !important;
	width: calc((100% - 76px) / 2);
	position: relative;

}
#teTeacherDescription {
	position: relative;
	margin: 0;
	width: 100%;
	float: left;
	clear: left;
}
#teLocationOptions > .materialLineInput  {
	position: relative;
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 100%;
	float: left;
	clear: left;
}

.teSubjectFlatButton {
	cursor: pointer;
	float: right;
	text-align: center;
	color: white;
	border-radius: 3px;
	padding: 8px 12px;
	clear: both;
	text-transform: uppercase;
	margin-top: 8px;
	color: #9E9E9E;
	transition: 0.2s;
}

.teSubjectFlatButton.disabled {
	border-bottom: none !important;
}

.teSubjectFlatButton:active {
    background-color: #CCCCCC;
}
.teSubjectFlatButton:hover {
    background-color: #DDDDDD;
}

.teSubjectFlatButton.disabled:hover,
.teSubjectFlatButton.disabled:active {
	background-color: transparent;
}
