.ttTimetableRow {
	margin: 5px;
	overflow: visible;
	/*Overflow visible for shadows*/
	/* Define width for every row specifically */
}
.timetableDay {
	margin: 2px;
	width: calc(100% - 4px);
	float: left;
	overflow: visible;
}
/*Timetable header*/

.ttHeader {
	width: 100%;
	height: 25px;
	margin-bottom: 2px;
	overflow: visible;
	/*Overflow visible for shadows*/
	float: left;
}

.ttHeader > div {
	float: left;
	height: 25px;
	line-height: 25px;
	width: 25px;
	background-color: white;
	border-radius: 4px;
	text-align: center;
}

.ttHeader > div > i {
	width: 25px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
}


.ttHeader > .ttHeaderDay {
    width: calc(100% - 58px);
	margin: 0 2px;
}

.ttHeader > .leftArrow {
	margin-right: 2px;
}

.ttHeader > .rightArrow {
	margin-left: 2px;
}


/*Timetable Subjects*/

.ttSubject {
	width: 100%;
	margin: 2px 0;
	float: left;
	clear: left;
	background-color: white;
	border-radius: 4px;
}

.ttSubject.selected {
	position: relative;
	left: -2px;
	border: solid 2px #F44336;
}


/*Timetable Subject Header*/

.ttSubjectHeader {
	/*    background-color: blue;*/
	height: 25px;
	width: calc(100%- 16px);
	margin: 0 8px;
	cursor: pointer;
}

.ttSubjectHeader > .number {
	float: left;
	height: 25px;
	line-height: 25px;
	color: #BDBDBD;
}

.ttSubjectHeader > .number.auto {
	font-style: italic;
}

.ttSubjectHeader > .time {
	float: right;
	height: 25px;
	line-height: 25px;
	color: #BDBDBD;
}

.ttSubjectHeader > .time.auto {
	font-style: italic;
}


/*Timetable Subject Body*/

.ttSubjectBody {
	/*    background-color: palevioletred;*/
	width: calc(100% - 16px);
	min-height: 66px;
	margin: 0 8px;
	border-top: solid 1px #BDBDBD;
	float: left;
	/*	left: 8px;*/
	position: relative;
}

.ttSubjectBody > .ttSubjectIcon {
	margin: 8px;
	height: 50px;
	width: 50px;
	border-radius: 180px;
	background-color: #8BC34A;
	text-align: center;
	color: white;
	line-height: 50px;
	font-size: 28px;
	float: left;
	position: relative;
	/*top: 0;*/
	/*Aligned by script*/
}

.ttSubjectBody > .ttSubjectIcon > i {
	line-height: inherit;
	font-size: inherit;
}

.ttSubjectBody > .ttSubjectName {
	width: calc(100% - 88px);
	margin-top: 12.5px;
	min-height: 24px;
	/*	margin-bottom: 2.5px;*/
	font-size: 18px;
	font-weight: 500;
	color: #616161;
	line-height: 22px;
	/*	word-break: break-all;*/
	float: left;
	/*    margin-left: 66px;*/
	max-height: 44px;
	/*Two lines*/
	overflow-y: visible;
}

.ttSubjectBody > .ttSubjectInfo {
	width: calc(100% - 88px);
	float: left;
	font-weight: 400;
	color: #9E9E9E;
	/*    margin-left: 66px;*/
	max-height: 38px;
	/*Two lines*/
	overflow-y: hidden;
	overflow-x: hidden;
	margin-bottom: 8px;
}

.ttSubjectBody > .ttSubjectNotifications {
	width: 22px;
	position: absolute;
	right: 0;
	z-index: 99;
	overflow: visible;
	/*Top defined in script*/
}

.ttSubjectBody > .ttSubjectNotifications > i {
	height: 18px;
	width: 18px;
	margin: 2px 0;
	color: #BDBDBD;
	font-size: 18px;
	float: right;
	cursor: pointer;
	position: relative;
	display: none;
	/*Edited in rule bellow - ensure that only first three notification are displayed(souldn't be more that that)*/
}

.ttSubjectBody > .ttSubjectNotifications > i:nth-child(1),
.ttSubjectBody > .ttSubjectNotifications > i:nth-child(2),
.ttSubjectBody > .ttSubjectNotifications > i:nth-child(3) {
	display: block;
}

.ttSubjectBody > .ttSubjectNotifications > i:hover::after {
	position: absolute;
	top: 0;
	left: calc(100% + 4px);
	display: block;
	height: 22px;
	background-color: #424242;
	color: white;
	border-radius: 3px;
	font-family: 'Roboto';
	font-size: 12px;
	line-height: 22px;
	padding: 0 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	/*Card-1 shadow */
}

.ttSubjectBody > .ttSubjectNotifications > .extension:hover::after {
	content: 'Changed';
}

.ttSubjectBody > .ttSubjectNotifications > .alarm:hover::after {
	content: 'Homework';
}

.ttSubjectBody > .ttSubjectNotifications > .assignment:hover::after {
	content: 'Exam';
}

.ttSubjectBody > .ttSubjectNotifications > .edited:hover::after {
	content: 'Edited';
}

.ttSubjectBody > .ttSubjectNotifications > .edit {
	display: none !important;
}

.ttSubjectBody.selected > .ttSubjectNotifications > .edit {
	color: #F44336;
	display: block !important;
}

.ttSubjectBody > .ttSubjectNotifications > .edit:hover::after {
	content: 'Editing';
	background-color: #F44336;
}


/*Timetable editor*/

.timetableEditor .ttSubjectBody {
	min-height: 50px;
	border: none;
	cursor: pointer;
}

.timetableEditor .ttSubjectIcon {
	margin: 0 8px;
}

.timetableEditor .ttSubjectName {
	margin-top: 4.5px;
}

.timetableEditor .ttSubjectInfo {
	margin-bottom: 0;
}


/*Timetable editor - body insert*/

.insertSubjectBody {
	width: calc(100% - 16px);
	float: left;
	margin: 0 8px;
	padding: 8px 0;
	height: 0;
	cursor: pointer;
	position: relative;
	transition: 0.3s height;
	text-align: center;
	/*NOTE: Only needed for optionals*/
}

.insertSubjectBody:hover {
	height: 28px;
	transition: 0.3s 0.1s;
}

.insertSubjectBody::before {
	content: '';
	position: absolute;
	bottom: 7.5px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #BDBDBD;
}

.insertSubjectBody::after {
	content: '';
	position: absolute;
	top: 7.5px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #BDBDBD;
}

.insertSubjectBody.top {
	padding-top: 0;
}

.insertSubjectBody.top::before {
	bottom: 7.5px;
}

.insertSubjectBody.top::after {
	top: 0px;
}

.insertSubjectBody.bottom {
	padding-bottom: 0;
}

.insertSubjectBody.bottom::after {
	width: 0;
}

.insertSubjectBody.bottom:hover::after {
	width: 100%;
	transition: 0.3s 0.1s;
}

.insertSubjectBody.bottom::before {
	content: none;
}

.insertSubject {
	width: calc(100% - 16px);
	margin: 0 8px;
	height: 0;
	cursor: pointer;
	position: relative;
	transition: 0.3s height;
	text-align: center;
	padding: 4px;
	overflow: hidden;
	float: left;
}

.insertSubject:hover {
	height: 28px;
	transition: 0.3s 0.1s;
}

.insertSubject::before {
	content: '';
	position: absolute;
	bottom: 7.5px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #BDBDBD;
	display: none;
}

.insertSubject::after {
	content: '';
	position: absolute;
	top: 7.5px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #BDBDBD;
	display: none;
}

.insertSubject.bottom {
	padding-bottom: 0;
	height: 28px;
}

.insertSubject.bottom::after {
	width: 0;
}

.insertSubject.bottom:hover::after {
	width: 100%;
	transition: 0.3s 0.1s;
}

.insertSubject.bottom::before {
	content: none;
}

.blockText {
	font-size: 8px;
	line-height: 8px;
	opacity: 0;
	background-color: #BDBDBD;
	color: white;
	border-radius: 2px;
	padding: 2px 4px;
}

:hover > .blockText {
	font-size: 13px;
	height: 15px;
	line-height: 15px;
	margin-top: 5px;
	display: inline-block;
	opacity: 1;
	transition: 0.2s background-color 0s, 0.3s opacity 0.1s, 0.3s line-height 0.1s, 0.3s font-size 0.1s;
}

:active > .blockText {
	background-color: #9E9E9E;
}

.insertSubject.insertFirstSubject {
	background-color: #BDBDBD;
	margin: auto;
	margin-top: 25px;
	width: 80%;
	border-radius: 5px;
	height: auto;
	overflow: auto;
	float: none;
	color: white;
}

.insertSubject.insertFirstSubject > p {
	margin: 0;
	font-size: 12px;
}

.insertSubject.insertFirstSubject > p:first-child {
	font-size: 20px;
	margin-top: 2px;
}
