#tooltip {
	display: none;
	position: absolute;
	background-color: #424242;
	max-width: 150px;
	color: white;
  word-wrap: break-word;
	border-radius: 2px;
	text-align: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#tooltip > span {
	position: relative;
	z-index: 1;
	padding: 4px 8px;
	border-radius: 2px;
	height: 100%;
	line-height: 28px;
	width: 100%;
	background-color: #424242;
}
#tooltip:before {
	display: block;
	position: absolute;
	content: '';
	height: 10px;
	width: 10px;
	transform: rotate(45deg);
	bottom: -5px;
	left: calc(50% - 5px);
	background-color: #424242;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	z-index: 1;

}
