body {
    background-color: #E7E7E7;
    font-family: 'Roboto', sans-serif;
}
.collapsibleHeader {
    display: block;
    cursor: pointer;
    height: 56px;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.collapsibleHeader > .icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 8px;
    margin-left: 0;
    margin-right: 16px;
    background-color: #8bc34a;
    float: left;
    border-radius: 180px;
}
.collapsibleHeader > .icon > i {
    height: 40px;
    width: 40px;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-style: normal;
}
.collapsibleHeader > div{
    float: left;
}
.collapsibleHeader > div > h1 {
    display: inline-block;
    height: 16px;
    font-size: 22px;
    margin: 0;
    margin-top: 10px;
    line-height: 22px;
    color: #8bc34a;
    float: left;
}
.collapsibleHeader > div > h2 {
    display: inline-block;
    height: 20px;
    font-size: 12px;
    margin: 0;
    margin-top: 5px;
    margin-left: 1px;
    line-height: 20px;
    color: #616161;
    float: left;
    clear: left;
}
.collapsibleHeader > h3 {
    display: inline-block;
    height: 20px;
    font-size: 11px;
    margin: 0;
    margin-right: 1px;
    line-height: 20px;
    color: #616161;
    float: right;
    clear: right;
    position: relative;
    font-weight: 400;
    margin-top: 7px;
}
.collapsibleHeader > i {
    height: 16px;
    padding-left: 12px;
    font-size: 22px;
    padding-top: 9px;
    line-height: 25px;
    float: right;
    position: relative;
    transition: 0.1s;
    color: #757575;
}
.collapsibleHeader > i#collapsibleCommentButton:hover {
    color: #424242;
    transition: 0.1s;
}
.collapsibleHeader > i#collapsibleDislikeButton:hover {
    color: #EF5350;
    transition: 0.1s;
}
.collapsibleHeader > i#collapsibleLikeButton:hover {
    color: #8bc34a;
    transition: 0.1s;
}
.collapsibleBody {
    display: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
.collapsibleBody > .collapsibleContent {
    padding: 0 16px;
}

.collapsible>li {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 0 24px;
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    list-style-type: none;
    background-color: #EFEFEF;
}
.collapsible>li.active {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    margin: 16px 0;
}
.collapsibleComments {
    display: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
.collapsibleComments > .comment {
    padding: 8px 1rem;
    overflow: auto;
}
.collapsibleComments > .comment > img {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 1rem;
    float: left;
    border-radius: 180px;
}
.collapsibleComments > .comment > div {
    display: inline-block;
    float: left;
}
.collapsibleComments > .comment > div > h1 {
    font-size: 1em;
    padding: 0;
    margin: 0;
    color: #616161;
}
.collapsibleComments > .comment > div > p {
    font-size: 1em;
    padding: 0;
    margin: 0;
    color: #616161;
}
